html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  min-width: 960px;
}

body * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, sans-serif, Arial;
}

:global {
  #app {
    height: 100%;
  }

  textarea, input {
    border: none;
  }

  pre {
    margin: 0;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  textarea:focus, input:focus {
    outline: 0;
  }

  *:focus {
    outline: 0;
  }
}
