.rover {
  position: absolute;
  transition: all 1s ease-in-out;
  width: 30px;
  height: 30px;
}

.N {
  transform-origin: center center;
  transform:rotate(0deg);
}

.S {
  transform-origin: center center;
  transform:rotate(180deg);
}

.E {
  transform-origin: center center;
  transform:rotate(90deg);
}

.W {
  transform-origin: center center;
  transform:rotate(-90deg);
}
